<div class="clearfix">
  <h3 class="pull-left">Josh Bezdek's Schedule</h3>
  <div class="pull-right header-margins">
    <form class="form-inline">
      <div class="form-group">
        <label>Copy From: </label>
      </div>
      <div class="form-group">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
      <button type="submit" class="btn btn-default">Go</button>
    </form>
 </div>
</div>


<div class="table-schedule table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="info">
                    <th>Period</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td>Math/101 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td>English/103 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                </tr>
                <tr>
                    <td>2 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td>Science/102 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td>Math/103 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                </tr>
                <tr>
                    <td>3 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td>Art/203 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td>Music/200 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                </tr>
                <tr>
                    <td>4 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td>Math/101 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td>English/103 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                </tr>
                <tr>
                    <td>5 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td>Science/102 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td>Math/103 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                </tr>
                <tr>
                    <td>6 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td>Art/203 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                </tr>
                <tr>
                    <td>7 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td>Science/102 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                </tr>
                <tr>
                    <td>8 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td>Art/203 <button class="btn btn-default pull-right"><i class="icon ion-edit"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                    <td><button class="btn btn-default pull-right"><i class="icon ion-plus"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
