<div class="clearfix">
    <h3 class="pull-left">Negative Behaviors Over Time</h3>
    <div class="pull-right header-margins">
        <button class="btn btn-default"><</button>
        <button class="btn btn-default">></button>
    </div>
</div>
<hr>
<div class="row">

    <div class="col-sm-12">
        <div id="chart" ></div>
    </div>
    <!--<div class="col-sm-12">
        <img class="img-responsive" src="/assets/images/temp/chart2.jpg">
    </div>
    <div class="col-sm-12">
        <img class="img-responsive" src="/assets/images/temp/chart3.jpg">
    </div>-->
</div>