<div class="">
    <div class="panel panel-primary relative">
        <!-- Default panel contents -->
        <div class="panel-heading">Intervention log</div>
        <button class="btn btn-default pin pin-top-right-corner" ng-click="$root.goTo('student.manage.interventionLog')"><i class="icon ion-plus"></i> Add</button>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">08/12/15 Started daily behavior sheet</li>
            <li class="list-group-item">09/20/15 Provided assistive technology</li>
            <li class="list-group-item">10/08/15 Schedule change</li>
            <li class="list-group-item">10/26/15 Math tutoring</li>
            <li class="list-group-item">11/20/15 Peer assistance program</li>
            <li class="list-group-item"><button class="btn">Read More <i class="glyphicon glyphicon-chevron-down"></i></button></li>
        </ul>
    </div>
</div>
<div class="">
    <div class="panel panel-primary relative">
        <!-- Default panel contents -->
        <div class="panel-heading">Service log</div>
        <button class="btn btn-default pin pin-top-right-corner" ng-click="$root.goTo('student.manage.serviceLog')"><i class="icon ion-plus"></i> Add</button>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">08/12/15 Started daily behavior sheet</li>
            <li class="list-group-item">09/20/15 Provided assistive technology</li>
            <li class="list-group-item">10/08/15 Schedule change</li>
            <li class="list-group-item">10/26/15 Math tutoring</li>
            <li class="list-group-item">11/20/15 Peer assistance program</li>
            <li class="list-group-item"><button class="btn">Read More <i class="glyphicon glyphicon-chevron-down"></i></button></li>
        </ul>
    </div>
</div>
