<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="well mt-20">
            <h2 class="form-title">My Shortcuts</h2>
            <form>
                <div class="list-group">
                    <div class="list-group-item"><!--use .active class if needed-->
                        <div class="clearfix">
                            <div class="pull-left">
                                <h4 class="list-group-item-heading">School Email</h4>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-default"><i class="icon ion-edit"></i></button>
                                <button class="btn btn-default"><i class="icon ion-trash-a"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item"><!--use .active class if needed-->
                        <div class="clearfix">
                            <div class="pull-left">
                                <h4 class="list-group-item-heading">Attendance</h4>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-default"><i class="icon ion-edit"></i></button>
                                <button class="btn btn-default"><i class="icon ion-trash-a"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item"><!--use .active class if needed-->
                        <div class="clearfix">
                            <div class="pull-left">
                                <h4 class="list-group-item-heading">Special Edu Resource</h4>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-default"><i class="icon ion-edit"></i></button>
                                <button class="btn btn-default"><i class="icon ion-trash-a"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <legend>Add a New Shortcut</legend>
                <div class="form-group">
                    <label for="InputFirstName">Name</label>
                    <input type="" class="form-control" placeholder="Name of the Shortcut" autofocus>
                </div>
                <div class="form-group">
                    <label for="InputLastName">Url</label>
                    <input type="" class="form-control" placeholder="Url of the Shortcut">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Save Changes</button>
                </div>

            </form><!-- /form -->

        </div>
    </div>
</div>
