
<div class="clearfix">
    <h3 class="pull-left">Select a Student</h3>
    <div class="pull-right header-margins">
        <button class="btn btn-primary" ng-click="$root.goTo('student.manage.profile')">+ Add Student</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 col-sm-3 col-md-2" ng-click="$root.goTo('student.manage')">
        <img class="img-responsive margin-bottom" src="http://placehold.it/200x200">
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2" ng-click="$root.goTo('student.manage')">
        <img class="img-responsive margin-bottom" src="http://placehold.it/200x200">
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2" ng-click="$root.goTo('student.manage')">
        <img class="img-responsive margin-bottom" src="http://placehold.it/200x200">
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2" ng-click="$root.goTo('student.manage')">
        <img class="img-responsive margin-bottom" src="http://placehold.it/200x200">
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2" ng-click="$root.goTo('student.manage')">
        <img class="img-responsive margin-bottom" src="http://placehold.it/200x200">
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2" ng-click="$root.goTo('student.manage')">
        <img class="img-responsive margin-bottom" src="http://placehold.it/200x200">
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2" ng-click="$root.goTo('student.manage')">
        <img class="img-responsive margin-bottom" src="http://placehold.it/200x200">
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2" ng-click="$root.goTo('student.manage')">
        <img class="img-responsive margin-bottom" src="http://placehold.it/200x200">
    </div>
</div>
