<!--Manage Students-->
<div class="clearfix">
    <h3 class="pull-left">Select a team member to manage their schedule</h3>
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3" ng-click="$root.goTo('account.manage')">
                <img class="img-responsive margin-bottom" src="http://placehold.it/200x200">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3" ng-click="$root.goTo('account.manage')">
                <img class="img-responsive margin-bottom" src="http://placehold.it/200x200">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3" ng-click="$root.goTo('account.manage')">
                <img class="img-responsive margin-bottom" src="http://placehold.it/200x200">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3" ng-click="$root.goTo('account.manage')">
                <img class="img-responsive margin-bottom" src="http://placehold.it/200x200">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3" ng-click="$root.goTo('account.manage')">
                <img class="img-responsive margin-bottom" src="http://placehold.it/200x200">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3" ng-click="$root.goTo('account.manage')">
                <img class="img-responsive margin-bottom" src="http://placehold.it/200x200">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3" ng-click="$root.goTo('account.manage')">
                <img class="img-responsive margin-bottom" src="http://placehold.it/200x200">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3" ng-click="$root.goTo('account.manage')">
                <img class="img-responsive margin-bottom" src="http://placehold.it/200x200">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary relative ng-scope">
            <div class="panel-heading">
                Invite Team Member
            </div>
            <div class="panel-body">
                <form class="">
                    <div class="form-group">
                        <label for="exampleInputName2">Name</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                    </div>
                    <button type="submit" class="btn btn-primary">Send invitation</button>
                </form>
            </div>

        </div>
    </div>
</div>
