<!--Student Profile-->
<!--
<div class="profile-panel">
    <div class="row">
      <div class="col-sm-2">
        <img class="img-responsive" src="http://placehold.it/200x200">
      </div>
      <div class="col-sm-3">
        <h2>Josh Bezdek</h2>
        <h4>Grade 5</h4>
        <h4><span class="label label-default">Insecure / Anxious</span></h4>
      </div>
      <div class="col-sm-4">
        <h3>Targeted Behaviors</h3>
        <ul class="list-inline">
          <li>Yelling</li>
          <li>Bitting</li>
          <li>Kicking the table</li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="btn-toolbar">
          <button class="btn btn-primary pull-right"><i class="icon ion-edit"></i> Edit Student Info</button>
        </div>
        <div class="btn-toolbar">
          <button class="btn btn-primary pull-right"><i class="icon ion-backspace"></i> Change Student</button>
        </div>
      </div>
    </div>
</div>
-->


<!--Team Member Profile-->
<div class="profile-panel">
    <div class="row">
      <div class="col-sm-2">
        <img class="img-responsive" src="http://placehold.it/200x200">
      </div>
      <div class="col-sm-7">
        <h2>Josh Bezdek</h2>
        <h4>Para</h4>
      </div>
      <div class="col-sm-3">
        <div class="btn-toolbar">
          <button class="btn btn-primary pull-right"><i class="icon ion-backspace"></i> Change Team Member</button>
        </div>
      </div>
    </div>
</div>
